* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
 }
 
 
 
 .header_centre_sante{
    margin-top: -2%;
     width: 100%;
     height: 50vh;
     background-size: cover;
     background-position: center;
     /* filter: brightness(0.6); */
     filter: blur(0.5);
     background-image: url("../images/IMG_8232-min-1140x760@2x.jpg");
     border: 2px solid #aa0f04;
 
 }
 
 .header_centre_sante h2 {
     color: #fff;
     text-align: center;
     padding: 10%;
     font-size: 3rem;
     font-weight: bold;
     visibility: visible;
     
 }

 /* formulaire */
 .contre_sante-form {
    width: 100%;
    height: 100%;
    padding: 100px;
    border-radius: 10px;
    border: 2px solid #aa5d04;
    background-color: #f2f2f2;

  }
  
  .contre_sante-form label {
    color: black;
  }
  
  .contre_sante-form .heading_sante{
    font-size: 30px;
    color: black;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
  }
  
  .contre_sante-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contre_sante-form label {
    margin-bottom: 10px;
  }
/*   
  textarea {
    resize: none;
    height: 80px;
    width: 200px;
  }
   */
  .contre_sante-form input, .contre_sante-form textarea {
    padding: 10px;
    /* border: none; */
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .contre_sante-form input:focus, .contre_sante-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #04AA6D;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  .contre_sante-form button[type="submit"] {
    background-color: #04AA6D;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    
  }
  
  .contre_sante-form button[type="submit"]:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  
