* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
 }
 
 
 
 .header_offres{
    margin-top: -2%;
     width: 100%;
     height: 50vh;
     background-size: cover;
     background-position: center;
     /* filter: brightness(0.6); */
     filter: blur(0.5);
     background-image: url("../images/off_emploi.jpeg");
 
 }
 
 .header_offres h2 {
     color: #fff;
     text-align: center;
     padding: 10%;
     font-size: 3rem;
     font-weight: bold;
     visibility: visible;  
 }

/* formulaire */
 .offre-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
  }
  
  .offre-form label {
    color: black;
  }
  
  .offre-form .heading_offre {
    font-size: 24px;
    color: black;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
  }
  
  .form_dv {
    display: flex;
  }

  .offre-form form {
    display: flex;
    flex-direction: column;
  }
  
  .offre-form label {
    margin-bottom: 10px;
  }
  
  textarea {
    resize: none;
    height: 80px;
    width: 200px;
  }
  
  .offre-form input, .offre-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .offre-form input:focus, .offre-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px  #0b6343;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  .offre-form button[type="submit"] {
    background-color: #0b6343;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .offre-form button[type="submit"]:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  
